.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
    background-color: gray;
}

#testing_css {
    height: 100hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}